/* hover drop down header */
.dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown .a:hover {
    color: blue;
  }

  * {
    font-family: 'Lato', Calibri, Arial, 'Hanuman', serif, sans-serif;
  }
  body{
    background-color:#F1F3F9 ;
  }

  .text-yellow {
    color: gold;
  }

  /* search bar */
  #search {
    outline: none;
    width: 200px;
  }

  /* for footer */
  .cus-p p ,a{
    margin-left: 10px;
    color: whitesmoke;
  }
  .cus-p  a:hover{
    color: grey;
  }